################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/OverrideLauncher.Core/bin/Debug
/OverrideLauncher.Core/obj
/OverrideLauncher.Example/bin/Debug/net8.0
/OverrideLauncher.Example/obj
